# Exploration

In [1]:
# Download the file
# https://www.data.gouv.fr/api/1/datasets/r/5669e5be-8c67-4fbf-aeae-08cbc2369dd4
# using wget
!wget -O ../data/raw/Q_13_previous-1950-2023_RR-T-Vent.csv.gz "https://www.data.gouv.fr/api/1/datasets/r/5669e5be-8c67-4fbf-aeae-08cbc2369dd4"

--2025-11-26 10:08:18--  https://www.data.gouv.fr/api/1/datasets/r/5669e5be-8c67-4fbf-aeae-08cbc2369dd4
Resolving www.data.gouv.fr (www.data.gouv.fr)... 37.59.183.91, 37.59.183.73
Connecting to www.data.gouv.fr (www.data.gouv.fr)|37.59.183.91|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: https://object.files.data.gouv.fr/meteofrance/data/synchro_ftp/BASE/QUOT/Q_13_previous-1950-2023_RR-T-Vent.csv.gz [following]
--2025-11-26 10:08:18--  https://object.files.data.gouv.fr/meteofrance/data/synchro_ftp/BASE/QUOT/Q_13_previous-1950-2023_RR-T-Vent.csv.gz
Resolving object.files.data.gouv.fr (object.files.data.gouv.fr)... 91.134.21.159, 91.134.21.160, 141.95.196.78, ...
Connecting to object.files.data.gouv.fr (object.files.data.gouv.fr)|91.134.21.159|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14624161 (14M) [application/gzip]
Saving to: ‘../data/raw/Q_13_previous-1950-2023_RR-T-Vent.csv.gz’

../data/raw/Q_13_pr 100%[===================>]  13,95M  21,9MB/s    in 0,6s

2025-11-26 10:08:19 (21,9 MB/s) - ‘../data/raw/Q_13_previous-1950-2023_RR-T-Vent.csv.gz’ saved [14624161/14624161]

## Import

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
sys.path.append('..')
sys.path.append('../frost')

import config as c
import func as f

In [5]:
df = f.load_weather_data('04')

In [6]:
df

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,TN,TNSOL,TN50
17388,04006005,ALLOS_SAPC,44.242500,6.625333,1400,2014-01-01,-6.9,<NA>,<NA>
17389,04006005,ALLOS_SAPC,44.242500,6.625333,1400,2014-01-02,-1.4,<NA>,<NA>
17390,04006005,ALLOS_SAPC,44.242500,6.625333,1400,2014-01-03,-5.1,<NA>,<NA>
17391,04006005,ALLOS_SAPC,44.242500,6.625333,1400,2014-01-04,1.1,<NA>,<NA>
17392,04006005,ALLOS_SAPC,44.242500,6.625333,1400,2014-01-05,-3.1,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...
969089,04230001,VALENSOLE,43.839500,6.000833,600,2023-12-27,1.8,<NA>,<NA>
969090,04230001,VALENSOLE,43.839500,6.000833,600,2023-12-28,2.0,<NA>,<NA>
969091,04230001,VALENSOLE,43.839500,6.000833,600,2023-12-29,4.5,<NA>,<NA>
969092,04230001,VALENSOLE,43.839500,6.000833,600,2023-12-30,3.2,<NA>,<NA>
969093,04230001,VALENSOLE,43.839500,6.000833,600,2023-12-31,4.5,<NA>,<NA>